@use 'base';

// Global styles
.container {
    width: 100%;
    max-width: 1536px;
    margin: 0 auto; 
}

.content-center {
    display: flex;
    justify-content: center;
}

.content-between {
    display: flex;
    justify-content: space-between;
}

// Spacings
.p-1 { padding: 0.5rem; }
.p-2 { padding: 1rem; }
.p-3 { padding: 1.5rem; }
.p-4 { padding: 2rem; }
.p-5 { padding: 2.5rem; }
.p-6 { padding: 3rem; }