@use '../../styles/base' as *;

.tips-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3rem 2rem;

    h2 {
        text-align: center;
        padding-bottom: 3rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        width: 100%;

        img {
            cursor: pointer;
            transition: 300ms;
        }

        img:hover {
            transform: scale(1.1);
        }

        &__top {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

        &__bottom {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
    }
}

@media (min-width: 768px) {
    .tips-section {
        .cards {
            flex-direction: row;
            
            img {
                width: 250px;
                max-width: 100%;
            }
        }
    }
    
}