@use '../../styles/base' as *;

.tips-section {
    // border: 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3rem 2rem;

    h2 {
        text-align: center;
        padding-bottom: 3rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }
}