@use '../../styles/base' as *;

.footer-container {
    padding: 2.5rem 1.5rem;
    width: 100%;

    font-size: 1rem;

    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.1rem;
        background-color: $border-color;
    }
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    gap: 2rem;

    flex-wrap: wrap;
}

.footer-column {
    display: flex;
    flex-direction: column;
    min-width: 220px;

    h4 {
        font-weight: 700;
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: .6rem;
            color: #4a4a4a;
            cursor: pointer;

            &:hover {
                color: #222;
            }
        }
    }

    .payments,
    .social {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;

        img {
            height: 30px;
            cursor: pointer;
        }
    }
}

@media (min-width: 768px) {
    .footer-container {
        font-size: 1.6rem;
    }
}