// Colors
$text-color: #000;
$background-color: #ffffff;
$border-color: #e4e4e4;

// Typograph
$font-family: Arial;
$font-size-base: 1.6rem;
$font-size-sm: 1rem;
$font-size-md: 1.6rem;
$font-size-lg: 2rem;
$font-size-xl: 2.5rem;

// Spacing
// $spacing-xs: 0.5rem;
// $spacing-sm: 1rem;
// $spacing-md: 1.5rem;
// $spacing-lg: 2rem;
// $spacing-xl: 3rem;